@charset "utf-8";
/* CSS Document */
h1{
	font-size: 50px;
	background-color: aquamarine;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	padding-top: 0px;
	padding-bottom: 0px;
	opacity: 0.7;
	color: blueviolet;
	margin-top: 10px;
	margin-bottom: 10px;
}
img
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
body
{
	background-image: url("images/background.jpg");
	background-position: center;
	background-attachment: fixed;
}
h2
{
	font-size: 40px;
	margin-bottom: -10px;
}
li
{
	font-size: 30px;
}
.body05{
    background-image: url("members/18120405/images/background.jpg");
	background-size: 103%;
}
.main05{
    font-size: 30px;
}
.a05{
    padding-right: 10px;
    font-size: 30px;
    color: darkblue;
    border:black;
    background-color: cornsilk;
    border-style: solid;
    margin-bottom: 30px;

}
.audio05{
    margin-top: 220px;
}
h1{
    margin: 0px;
}